<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652089580375-v78vteslpmi8cto8nlet908dbs3p88e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652089580375-v78vteslpmi8cto8nlet908dbs3p88e6</string>
	<key>API_KEY</key>
	<string>AIzaSyD50PcMPPu2TL0gUVUmSMeD77hNjxnfISA</string>
	<key>GCM_SENDER_ID</key>
	<string>652089580375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eary</string>
	<key>PROJECT_ID</key>
	<string>eara-a2767</string>
	<key>STORAGE_BUCKET</key>
	<string>eara-a2767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652089580375:ios:f7e4ecca1ade85df51bc12</string>
</dict>
</plist>